.header{
  color: #afafaf;
  height: 10em;
  width: 100%;
  position: fixed;
  top: 0;
  background: #274060;
  z-index: 1;
}

.footer {
  color: #afafaf;
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #274060;
  z-index: 1;
}
