.header{
  color: white;
  height: 8em;
  width: 100%;
  position: fixed;
  top: 0;
  background: #1e2125;
  z-index: 1;
  text-align: center;
}

.footer {
  color: #afafaf;
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #274060;
  z-index: 1;
}
