.portfolio{

  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-bottom: 1px solid #808080;

    p {
      font-weight: bold;
    }
  }

  .pieToggle {
    cursor: pointer;
  }

  .fas {
    font-size: 4em;
    color: #808080;

    &:hover {
      color: white;
    }
  }
}
