.ticker-wrapper {
  height: 2em;
  position: fixed;
  top: 0;
  background: #1e2125;
  z-index: 1;
  border-bottom: 1px solid #808080;
}

.ticker {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 70%;
  animation: ticker-scroll 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  .ticker-item {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0 2em;

    img {
      height: 0.7em;
      width: 0.7em;
    }
  }
}

.up {
  color: $color-green;
}

.down {
  color: $color-red;
}
