.ticker-wrapper {
  height: 2em;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.ticker {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 100%;
  animation: ticker-scroll 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  .ticker-item {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0 2em;

    img {
      height: 0.7em;
      width: 0.7em;
    }
  }
}

.up {
  color: $color-green;
}

.down {
  color: $color-red;
}
