@import '/base/reset';
@import '/base/modebar';
@import '/base/animations';
@import '/base/variables';
@import '/base/typography';

@import '/components/loader';
@import '/components/header';
@import '/components/ticker';
@import './components/portfolio';
@import './components/search-bar';
@import './components/register-forms';
@import './components/coin-show';

@import '/vendor/skeleton';
@import '/vendor/animate';


.border {
  border-bottom: 1px solid black;
}

.wrapper {
  top: 2em;
}

.content {
  margin-top: 10em;
}

.imgimg {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.positive {
  color: $color-green;
}

.negative {
  color: $color-red;
}


body {
  background: #1e2125;
}

.flex {
  display: flex;
}
.flow {
  overflow-x: scroll;
}

.marg{
  margin: 0;
}

.table-head {
  white-space: nowrap;
}

.table-data {
  overflow: scroll;
}

.asset {
  display: flex;
  flex-direction: column;
}
