@import '/base/reset';
@import '/base/animations';

@import '/components/header';
@import '/components/ticker';
@import './components/transaction-form';

@import '/vendor/skeleton';

.border {
  border-bottom: 1px solid black;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.content {
  margin-top: 10em;
}

.up {
  color: green;
}

.down {
  color: red;
}

.imgimg {
  max-width: 35px;
  max-height: 35px;
}
