@import '/base/reset';
@import '/base/animations';

@import '/components/header';
@import '/components/ticker';
@import './components/transaction-form';

@import '/vendor/skeleton';

.border {
  border-bottom: 1px solid black;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.content {
  margin-top: 10em;
}
