@import '/base/reset';
@import '/base/stephano';
@import '/base/animations';
@import '/base/variables';
@import '/base/typography';

@import '/components/loader';
@import '/components/header';
@import '/components/ticker';

@import '/vendor/skeleton';
@import '/vendor/animate';


.border {
  border-bottom: 1px solid black;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

.content {
  margin-top: 10em;
}

.imgimg {
  width: 1em;
  height: 1em;
}

.img-holdings {
  margin-right: 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 10em;
}

.img-holdings-td {
  padding-right: 1em;
  width: 1em;
  padding-bottom: 0;
  background: #1e2125;
}

.tr-style {
  background: #354254;

}

.td {
  padding: 0px 0px;
  vertical-align: middle;
  border-bottom: 5px solid #1e2125;
}

.th {
  border-bottom: 3px solid #1e2125;
}

.second-th {
  text-align: left;
}

.middle {
  text-align: center;
}


.inner-td {
  padding-left: 0.8em;
}

.inner-p {
  vertical-align: top;
}

.far-right {
  text-align: right;
  padding-right: 4em;
}


.modebar {
display: none !important;
}

.positive {
  color: $color-green;
}

.negative {
  color: $color-red;
}

body {
  background: #1e2125;
}

.flex {
  display: flex;
}
.flow {
  overflow-x: scroll;
}

.marg{
  margin: 0;
}

.table-head {
  white-space: nowrap;
}

.table-data {
  overflow: scroll;
}
