.img-holdings {
  margin-right: 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 10em;
}

.img-holdings-td {
  width: 1em;
  padding-bottom: 0;
}

.tr-style {
  background: #1f4c6c;

}

.td {
  padding: 0px 0px;
  vertical-align: middle;
  border-bottom: 5px solid #1e2125;
}

.th {
  border-bottom: 3px solid #1e2125;
}

.second-th {
  text-align: left;
}

.middle {
  text-align: center;
}


.inner-td {
  padding-left: 0.8em;
}

.inner-p {
  vertical-align: top;
}

.far-right {
  text-align: right;
  padding-right: 4em;
}


.modebar {
display: none !important;
}
